web:
  port: 3000
twitter:
  login: nosqltrends
  password: xxxxxx
  retweet: true
  consumer_key: xxx
  consumer_secret: xxx
  access_token: xxx
  access_token_secret: xxx
mongodb: trends
keywords:
  - NoSQL
  - CouchDB
  - MongoDB
  - Riak
  - Neo4j
